{
    "env": {
        "es6": true,
        "browser": true,
        "node": true

    },
    "extends": "airbnb",
    "rules": {
        "no-unused-vars":  0,
        "no-console": 0,        
        "strict": 0,
        "arrow-parens": 0,
        "no-shadow": 0,
        "no-use-before-define": 0,
        "prefer-destructuring": 0,
        "lines-around-directive": 0
        
    }
}